<!-- FOOTER-->
<div class="footer mb-0"  style="width: fit-content;">

  
    
    
    <footer class="page-footer font-small  pt-4 text-center" style=" background-color:rgba(0, 0, 0, 0.5);">

    
        <div class="container">
          
          
          <div class="row text-center">
      
            <div class="col-lg-8">
      
               <div class="container">
                    <div class="row heading-font">
                        <div class="col-6 text-center my-auto">
                            <a href="/official-iste/#aboutus"><h6>About us</h6> </a>
                            <a href="#"><h6>Contact</h6> </a>
                            <a href="#"><h6>Terms & condition</h6>  </a>
                        </div>
                    
                    
                        <div class="col-6 text-center my-auto">
                            
                        <a href="https://www.facebook.com/istetkm"><h6><img src="assets/images/facebook.png" class="mx-4" alt=""> Facebook</h6></a> 
                        <a href=" https://twitter.com/TkmceIste?t=zijuy6CS_5QQcTIehRGUrg&s=08"><h6><img src="assets/images/twitter.png" class="mx-4" alt=""> Twitter</h6></a> 
                        <a href="https://www.instagram.com/iste_tkmce_/"><h6><img src="assets/images/instagram2.png" class="mx-4" alt="" width="25px" height="25px"> Instagram</h6></a>
                        </div>
                    </div>
               </div>
      
            </div>
           
            <div class="col-lg-4">
                <h5 class="heading-font mt-2 mb-3">Subscribe to our Newsletter</h5>

             
              <form class="form-group row">
            
                <div class="input-group mb-3">
                    <input type="text" class="form-control heading-font"  placeholder="email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-light heading-font" type="button">Button</button>
                    </div>
                  </div>
                
              </form>
              <!-- <h6 class="heading-font mt-2 mb-3 mx-auto text-center">Subscription added</h6> -->

            </div>

            
      
          </div>
          
      
        </div>
        
     
</div>

</footer>


</div>