  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <% if (PageTitle !== "IGNITE") { %> 
            <a class="navbar-brand " href="/"><img id="brand" src="assets/images/brand.png" alt=""></a>   
        <% } else { %>
            <a class="navbar-brand " href="#">IGNITE</a>
        <% } %>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
            
        <div class="collapse navbar-collapse text-center" id="navbarNav">
                
            <ul class="navbar-nav content-font">
                <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/#aboutus">ABOUT</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/#gallery">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ignite">IGNITE</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      EXECOM
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown" >
                      <a class="dropdown-item" style="color: #D3D3D3;" href="/teams21-22">21-22</a>
                      <a class="dropdown-item" style="color: #D3D3D3;" href="#">20-21</a>
                      
                    </div>
                  </li>
                <li class="nav-item ">
                    <a class="nav-link" href="http://student.istetkmce.in/login.php">LOGIN</a>
                </li>
                
            </ul>
        </div>
        </div>
        
<% if (PageTitle !== "IGNITE") { %> 
      
<div class="design" >
                
    <div class='a'>
        <img src="assets/images/rect5.png" alt="" id="a">
    </div>
    <div class='b'>
        <img src="assets/images/rect1.png" alt="" id="b">
    </div>
    <div class='c'>
        <img src="assets/images/rect4.png" alt="" id="c">
    </div>
    <div class='d'>
        <img src="assets/images/rect11.png" alt="" id="d">
    </div>
    <div class='e'>
        <img src="assets/images/rect12.png" alt="" id="e">
    </div>
    <div class='f'>
        <img src="assets/images/rect3.png" alt="" id="f">
    </div>
    <div class='g'>
        <img src="assets/images/rect10.png" alt="" id="g">
    </div>
    <div class='h'>
        <img src="assets/images/rect13.png" alt="" id="h">
    </div>
    <div class='i'>
        <img src="assets/images/rect2.png" alt="" id="i">
    </div>
    <div class='j'>
        <img src="assets/images/rect7.png" alt="" id="j">
    </div>
    <div class='k'>
        <img src="assets/images/rect6.png" alt="" id="k">
    </div>
    <div class='l'>
        <img src="assets/images/rect8.png" alt="" id="l">
    </div>
    <div class='m'>
        <img src="assets/images/rect9.png" alt="" id="m">
    </div>

<% } else { %>
    
    <div class="quote my-4">
        <h3>Creativity is Intelligence having fun</h3>
        <div class="author " >
            <h5>- ALBERT EINSTEIN</h5>
        </div>
    </div>

<% } %>








    </div>
        <img src="assets/images/GEARFINALwhite.png" id="iste_logo">
    </div>

</nav>
