<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container mt-4">
    <form enctype="multipart/form-data" action="/addevent" method="post">
        <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationDefault01">Event name</label>
            <input type="text" name="name" class="form-control" id="validationDefault01" placeholder="Event name(should be unique)" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationDefault02">Date</label>
            <input type="text" name="date" class="form-control" id="validationDefault02" placeholder="Date (preferably in dd/mm/yy format)" required>
        </div>

        <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
  
        </div>
        <div class="col-md-3 mb-3">
            <label for="file">Poster file</label>
            <input type="file" class="form-control" name="image" id="file" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="url">Registration form url</label>
            <input type="text" class="form-control" name="regform" id="url" required>
        </div>
        </div>
        
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>
<%- include('./partials/footer.ejs') %>