<%- include('./partials/head.ejs') %>
<style>
   
    .cmon>.row
    {
        margin: 40px;
        padding: 25px;
        justify-content: center;
        align-items: center;
    
    }
    .sty
    {
        background-color: lightgray;
        border-radius: 100px;
      
    }
    .h-three
    {
        text-align: center;
    }

    .head2
    {
        justify-content: center;
    }
    .teame>h1
    {
        color: darkslateblue;
        font-weight: bolder;
        padding: 30px;
    }
    .img-block{
        margin:8px;
        padding-right: 20px;
        padding-left:12px;
        width: 200px;
    }
    .img-block>h4{
        font-family: 'Roboto',sans-serif;
        font-weight:bold;
    }

    @media only screen and (min-width: 1000px) {
        
        .ppl 
        {
            width: 50%;
            margin: auto;
            
        }
        .pple 
        {
            width: 50%;
            margin: auto;
            background-color: #eedede;
            
        }
    }

</style>
<body>
    <%- include('./partials/navbar.ejs') %>  
    <section class="teame text-center py-5">
        <div class="container cmon ">

            <div class="col-md-12 col-lg-12">
                <h1 class="Jnr">Senior Execom</h1>
            </div>
            <div class="row one mb-4">
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/fardeen.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>FARDEEN KHAN K</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/sreelekshmi.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>SREELEKSHMI NS</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sty two text-center">
                <div class="col-md-12 col-lg-12">
                    <h4>FINANCE</h4>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/abhishek.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ABHISHEK S NAIR</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/lakshmi.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>LAKSHMI S JEEVA</h4>

                        </div>
                    </div>
                </div>

                
            </div>


            <div class="row sty Jnr3 ppl text-center " style="background-color: #eedede; margin-left: 25%;">
                <div class="col-md-12 col-lg-12">
                    <h4>EVENT ORGANISING LEADS</h4>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/aboo.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ABOO ZUHAIB</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/savithri.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>SAVITHRI KRISHNA</h4>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row sty four text-center">
                <div class="col-md-12 col-lg-12 mb-2">
                    <h4>PR AND MEDIA HEADS</h4>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/aswin.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ASWIN SHANKAR</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/rayna.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>RAYNA MARIAM THOMAS</h4>

                        </div>
                    </div>
                </div>

                
            </div>
            
            <div class="row sty Jnr3 ppl text-center " style="background-color: #eedede; margin-left: 25%;">
                <div class="col-md-12 col-lg-12">
                    <h4>HEAD OF DESIGN</h4>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/vaishnav.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>VAISHNAV ANOOP</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/farzeena.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>FARZEENA IBRAHIM</h4>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row sty four text-center">
                <div class="col-md-12 col-lg-12 mb-2">
                    <h4>STUDENT REPRESENTATIVES</h4>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/aleena.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ALEENA THOMAS</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/sha.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>MUHAMMED SHA SHAJAHAN</h4>

                        </div>
                    </div>
                </div>

                
            </div>
            <div class="row sty Jnr3 ppl text-center mb-2" style="background-color: #eedede; margin-left: 25%;">
                <div class="col-md-12 col-lg-12">
                    <h4>HEAD OF REGISTRATION</h4>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/christina.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>CHRISTINA JINCY JOSEPH</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/christene.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>CHRISTINE ELIZABETH</h4>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row sty two text-center">
                <div class="col-md-12 col-lg-12">
                    <h4>HEAD OF DOCUMENTATION</h4>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/ardra.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ARDRA PARADEEP</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/fathima.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>FATHIMA HAMEED</h4>

                        </div>
                    </div>
                </div>

                
            </div>
            <div class="row sty Jnr1">
                <div class="col-md-12 col-lg-12">
                    <h4>EXECOM MEMBERS</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/adarsh.jpg" class="img-fluid  rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ADARSH K BIJU</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/hisham.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>MUHAMMED HISHAM V</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/nasreen.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>NASREEN SAMEER</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/deekshita.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>DEEKSHITHA DEV</h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row " >
                
            <div class="col-lg-3 sty Jnr3 pple mb-2">
                
                
                    <h4 class="mt-4"> WEB MASTER </h4>
                    <div class="img-block mb-5 text-center" style="margin:5px;
                    padding-right: 0px;
                    padding-left: 0px;" >
                        <img src="assets/images_of_teams/execom21-22/aravind.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2" >
                            <h4 style="font-size: larger;">P K ARAVINDKRISHNAN</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 sty Jnr3 pple mb-2" style="background-color: lightgrey;margin-left: 0px;">
                
                
                    <h4 class="mt-4"> TECH HEAD </h4>
                    <div class="img-block mb-5 text-center" style=" margin:5px;
                    padding-right: 0px;
                    padding-left: 0px;" >
                        <img src="assets/images_of_teams/execom21-22/athul.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2" >
                            <h4>ATHUL BABU</h4>

                        </div>
                    </div>
                </div>
                   
            <div class="col-lg-3 sty Jnr3 pple mb-2" style="margin-left: 0px;">
                
                
                <h4 class="mt-4"> WEB MASTER </h4>
                <div class="img-block mb-5 text-center" style="margin:5px;
                padding-right: 0px;
                padding-left: 0px;" >
                    <img src="assets/images_of_teams/execom21-22/karthik.jpg" class="img-fluid rounded-circle" alt="image1">
                    <div class="content mt-2" >
                        <h4>KARTHIK SUNIL</h4>

                    </div>
                </div>
            </div>
            </div>



            <!-- Junior Execom -->









            <div class="col-md-12 col-lg-12">
                <h1 class="Jnr">Junior Execom</h1>
            </div>
            <div class="row sty Jnr1">
                <div class="col-md-12 col-lg-12">
                    <h4>PROGRAM COORDINATORS</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_meenakshi.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>MEENAAKSHY M J</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_ijab.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>IJAB M RAHMAN</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_hari.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>HARISANKAR R</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_devika.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>DEVIKA SUJITH</h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row sty Jnr3 ppl text-center mb-2" style="background-color: #eedede; margin-left: 25%;">
                <div class="col-md-12 col-lg-12">
                    <h4>FINANCE TEAM</h4>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_atil.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ATHIL SHAJI</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_ann.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ANN MARIA ABRAHAM</h4>

                        </div>
                    </div>
                </div>

            </div>
            
            <!-- Updation -->
            
            <div class="row sty four text-center">
                <div class="col-md-12 col-lg-12 mb-2">
                    <h4>PUBLIC RELATIONS</h4>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_navya.jpg" class="img-fluid rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>NAVYA PRASAD A</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_fayiz.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>FAYIZ UMAR</h4>

                        </div>
                    </div>
                </div>

                
            </div>
            
            
            <div class="row sty Jnr3 ppl text-center mb-2" style="background-color: #eedede; margin-left: 25%;">
                <div class="col-md-12 col-lg-12">
                    <h4>TECH TEAM</h4>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_nooha.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>FATHIMA NOOHA</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_vinay.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>VINAY ARUN KUMAR</h4>

                        </div>
                    </div>
                </div>

            </div>
            




            <div class="row sty Jnr4">

                <div class="col-md-12 col-lg-12">
                    <h4>WEB TEAM</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_sahad.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>MUHAMMED SAHAD R K</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams//execom21-22/j_vikas.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>VIKAS K</h4>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_krishnapriya.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>KRISHNAPRIYA RAJEEV</h4>

                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="row sty two">
                <div class="col-md-12 col-lg-12">
                    <h4>DESIGN TEAM</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_ashik.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ASHIK N</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_steni.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>STENI MARIA SANTHOSH</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_haleem.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>MUHAMMED HALEEM</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_anwar.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ANWARSHAIN</h4>

                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row sty Jnr3 ppl text-center mb-2" style="background-color: #eedede; margin-left: 25%;">
                <div class="col-md-12 col-lg-12">
                    <h4>STUDENT REPRESENTATIVE</h4>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_nandana.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>NANDANA JS</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="img-block mb-5">
                        <img src="assets/images_of_teams/execom21-22/j_adithyan.jpg" class="img-fluid   rounded-circle" alt="image1">
                        <div class="content mt-2">
                            <h4>ADITHYAN K</h4>

                        </div>
                    </div>
                </div>

            </div>
<!-- Updation -->
            
<div class="row sty four text-center">
    <div class="col-md-12 col-lg-12 mb-2">
        <h4>REGISTRATION TEAM</h4>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="img-block mb-5">
            <img src="assets/images_of_teams/execom21-22/j_abhijith.jpg" class="img-fluid rounded-circle" alt="image1">
            <div class="content mt-2">
                <h4>ABHIJITH K</h4>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="img-block mb-5">
            <img src="assets/images_of_teams/execom21-22/j_neha.jpg" class="img-fluid   rounded-circle" alt="image1">
            <div class="content mt-2">
                <h4>NEHA N</h4>

            </div>
        </div>
    </div>   
    </div>


    <div class="row sty Jnr3 ppl text-center mb-2" style="background-color: #eedede; margin-left: 25%;">
        <div class="col-md-12 col-lg-12">
            <h4>DOCUMENTATION TEAM</h4>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="img-block mb-5">
                <img src="assets/images_of_teams/execom21-22/j_alfia.jpg" class="img-fluid   rounded-circle" alt="image1">
                <div class="content mt-2">
                    <h4>ALFIYA S</h4>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="img-block mb-5">
                <img src="assets/images_of_teams/execom21-22/j_liyana.jpg" class="img-fluid   rounded-circle" alt="image1">
                <div class="content mt-2">
                    <h4>LIYANA HASHIR</h4>

                </div>
            </div>
        </div>

    </div>


    <div class="row sty Jnr4">

        <div class="col-md-12 col-lg-12">
            <h4>EXECOM MEMBER</h4>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
                <img src="assets/images_of_teams/execom21-22/j_namita.jpg" class="img-fluid   rounded-circle" alt="image1">
                <div class="content mt-2">
                    <h4>NAMITHA IDA MARIYA</h4>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
                <img src="assets/images_of_teams//execom21-22/j_ishita.jpg" class="img-fluid   rounded-circle" alt="image1">
                <div class="content mt-2">
                    <h4>ISHITA DEVAN</h4>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="img-block mb-5">
                <img src="assets/images_of_teams/execom21-22/j_sumaya.jpg" class="img-fluid   rounded-circle" alt="image1">
                <div class="content mt-2">
                    <h4>SUMAYIAK K</h4>

                </div>
            </div>
        </div>
    </div>





        </div>
    </section>
<%- include('./partials/footer.ejs') %>  